body {
  margin-top: 85px;
  background-color: #317d99;
}

#showcase .showcase-right {
  margin-top: 80px;
}
#showcase .showcase-left {
    margin-top: 80px;
  }
  /* specialized position */
  #showcase .showcase-right-1{
    margin-top: 105px;
  }
footer {
  padding: 25px;
  background-color: #011a1d;
  color: #fff;
}
.row {
  margin-top: 50px;
  margin-bottom: 355px;
}
.responsive {
  max-width: 100%;
  height: auto;
  border: 5px solid #011a1d;
}
.main-title {
  color: #011a1d;
  text-align: center;
  font-size: 35pt;
  font-family: 'Staatliches', cursive;
}
.main-header {
  text-align: center;
  font-size: 55pt;
  font-family: 'Staatliches', cursive;
}
h2,
h3 {
    font-family: 'Roboto', sans-serif;
  color: #fff;
}
.navbar-brand {
    font-family: 'Staatliches', cursive;
  font-size: 33pt;
}
.display-4 {
    font-family: 'Staatliches', cursive;
  font-size: 50pt;
}
.jumbotron {
  margin-top: 280px;
  margin-bottom: 330px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 3px 5px #666666;
}
.links {
  margin-top: 15px;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
}
b,
.lead,
h6 {
  color: #011a1d;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
}
span {
  color: #fff;
}
.btn{
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
.word {
  font-weight: bold;
  font-size: 14pt;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
li{
  font-size: 14pt;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.tools{
    font-size: 16pt;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
form{
    width: 50%;
    margin-left: 25%;
margin-bottom: 355px;
}
.card{
    margin-left: 7%;
    margin-bottom: 10%;
}
.contact-txt, label{
    font-weight: bold;
  font-size: 12pt;
  color: #011a1d;
  font-family: 'Roboto', sans-serif;
}

