body {
  margin-top: 75px;
 background-color:#317D99; 
}

#showcase .showcase-right {
  margin-top: 80px;
}
footer {
  padding: 25px;
  background-color: #011a1d;
  color: #fff;
}
.row {
  margin-top: 70px;
  margin-bottom: 355px;
}
.responsive {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #011a1d;
}
.responsive-2 {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  border: 5px solid #011a1d;
}
.main-title {
  text-align: center;
  font-family: 'Asap', sans-serif; 
}
.navbar-brand,
h2,h3,h1,h4 {
    font-family: 'Asap', sans-serif;
    color: #fff; 
}
b{
    color: #fff;
    font-family: 'Asap', sans-serif;
}
/* abt me words */
.word{
  font-weight: bold;
  color: #011a1d;
  font-family: 'Asap', sans-serif; 
}
/*  */
