body {
  margin-top: 140px;
  background-color: #34495e;
}
#showcase .showcase-right {
  margin-top: 60px;
  border-radius: 5px;
  border: 5px solid #eee;
  max-height: 100%;
  padding: 30px;
  background-color: #ecf0f1;
}
#showcase .showcase-left {
  margin-top: 60px;
  border-radius: 5px;
  max-height: 100%;
}
#showcase .showcase-left-1 {
  margin-top: 60px;
  border-radius: 5px;
  border: 5px solid #eee;
  max-height: 100%;
background-color: #fff;
}
/* specialized position */
#showcase .showcase-right-1 {
  margin-top: 60px;
  border-radius: 5px;
  border: 5px solid #eee;
  padding: 50px;
  background-color: #ecf0f1;
}
.showcase-right-2 {
  margin-left: 15%;
  margin-top: 60px;
  border-radius: 5px;
  border: 5px solid #eee;
  background-color: #ecf0f1;
  width: 70%;
}
/*  */
footer {
  padding: 35px;
  background-color: #eee;
  color: #353a3f;
}
.row {
  margin-top: 50px;
  margin-bottom: 240px;
}
.responsive {
  max-height: 70%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 3px solid #eee;
}
.responsive-contact{
  margin-left: 20%;
  border-radius: 5px;
  border: 5px solid #eee;
  margin: 0%;
  max-width: 65%;
  height: auto;
}
.responsive-profile{
  border-radius: 5px;
  border-top: 5px solid #353a3f;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}
.main-title {
  text-align: center;
  font-size: 25pt;
  font-family: "Roboto", sans-serif;
}
.main-header {
  background-image: url('https://ya-webdesign.com/images/circuit-png-4.png');
  background-origin: bottom;
  background-size: 120px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 35pt;
  font-family: "Roboto", sans-serif;
}
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 22pt;
  color: #353a3f;
  text-decoration: none;
}
.display-4 {
  font-family: "Roboto", sans-serif;
  font-size: 50pt;
}
#navbar-color{
  background-color: #eee;
  opacity: 0.95;
}
#navbar-font{
  font-size: 16pt;
}
.jumbotron {
  border: 5px solid #353a3f;
  margin-top: 270px;
  margin-bottom: 300px;
  border-radius: 5px;
  background-image: url('https://www.pngarts.com/files/1/Abstract-PNG-High-Quality-Image.png');
  background-size: 80%;
  background-position: right; 
  background-repeat: no-repeat;
}
.navbar-toggler-icon{
 color: #eee;
}
.links {
  margin-top: 15px;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.nav-icon{
  height: 10%;
}
.nav-link{
  color: #353a3f;
  text-decoration: none;
}
h6 {
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
.lead{
   margin-top: 38%;
  font-family: "Roboto", sans-serif;
  font-size: 20pt;
}
.bold-move {
  line-height: 150%;
  font-weight: bold;
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
}
.line{
  /* background-color:  #fff; */
}
/* for later button adjustment */
/* #button-color{
  background-color: #34495e;
  color: #eee;
} */
.sub-title{
  border-top: 5px solid #353a3f;
}
span {
  color: #353a3f;
}
.btn {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
}
.word {
  line-height: 150%;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
li {
  line-height: 150%;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
.tools {
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
}
form {
  margin-top: 10%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 15%;
}

.card {
  margin-top: 9%;
  margin-left: 15%;
  margin-bottom: 15%;
}
.contact-txt,
label {
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
.alert {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
  background: #fff;
  color: #353a3f;
  margin-bottom: 10px;
  display: none;
}
/* Animated effects */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.media-image:hover {
  opacity: 0.65;
  cursor: pointer;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
