body {
  margin-top: 130px;
  background-color: #34495e;
}
#showcase .showcase-right {
  margin-top: 60px;
  border-radius: 3px;
  border: 3px solid #b2bec3;
  max-height: 100%;
  padding: 20px;
  background-color: #ecf0f1;
}
#showcase .showcase-left {
  margin-top: 60px;
  border-radius: 3px;
  max-height: 100%;
}
#showcase .showcase-left-1 {
  margin-top: 60px;
  border-radius: 3px;
  border: 3px solid #b2bec3;
  max-height: 100%;
  background-color: #ecf0f1;
}
/* specialized position */
#showcase .showcase-right-1 {
  margin-top: 60px;
  border-radius: 3px;
  border: 3px solid #b2bec3;
  padding: 15px;
  background-color: #ecf0f1;
}
.showcase-right-2 {
  margin-left: 15%;
  margin-top: 60px;
  border-radius: 3px;
  border: 3px solid #b2bec3;
  background-color: #ecf0f1;
  width: 70%;
}
/*  */
footer {
  padding: 30px;
  background-color: #eee;
  color: #34495e;
}
.row {
  margin-top: 50px;
  margin-bottom: 230px;
}
.responsive {
  max-height: 70%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 3px solid #b2bec3;
}
.responsive-contact {
  margin-left: 20%;
  border-radius: 5px;
  border: 3px solid #b2bec3;
  margin: 0%;
  max-width: 65%;
  height: auto;
}
.responsive-profile {
  border-radius: 3px;
  border-top: 3px solid #b2bec3;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}
#school-logo{
  margin-left: 10%;
  margin-top: -1%;
}
.main-title {
  text-align: center;
  font-size: 25pt;
  font-family: "Cardo", serif;
}
.main-header {
  background-image: url("https://ya-webdesign.com/images/circuit-png-4.png");
  background-origin: bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30pt;
  color: #34495e;
  font-family: "Cardo", serif;
}
h2,
h3 {
  font-family: "Cardo", serif;
}
.sml-txt {
  font-family: "Amiri", serif;
  font-size: 12pt;
}
.navbar-brand {
  font-family: "Cardo", serif;
  font-size: 28pt;
  color: #34495e;
  text-decoration: none;
}
.navbar-brand:hover {
  font-family: "Cardo", serif;
  font-size: 28pt;
  color: #34495e;
  text-decoration: none;
}
.display-4 {
  font-family: "Cardo", serif;
  color: #34495e;
  font-size: 45pt;
}
#navbar-color {
  background-color: #eee;
  opacity: 0.9;
}
#navbar-font {
  font-family: "Amiri", serif;
  color: #34495e;
  font-size: 16pt;
}
.jumbotron {
  border: 3px solid #b2bec3;
  margin: 0;
  margin-top: 270px;
  margin-bottom: 300px;
  border-radius: 3px;
  width: 80%;
  background-image: url("https://www.pngarts.com/files/1/Abstract-PNG-High-Quality-Image.png");
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
}
.navbar-toggler-icon {
  color: #eee;
}
.links {
  margin-top: 15px;
  font-size: 14pt;
  font-family: "Amiri", serif;
  font-family: "Cardo", serif;
  text-decoration: none;
}
.nav-icon {
  height: 10%;
}
.nav-link {
  color: #353a3f;
  text-decoration: none;
}
.nav-link:hover {
  color: #353a3f;
  text-decoration: none;
}
h6 {
  font-size: 14pt;
  font-family: "Amiri", serif;
  font-family: "Cardo", serif;
}
.lead {
  margin-top: 38%;
  font-family: "Amiri", serif;
  font-family: "Cardo", serif;
  font-size: 20pt;
}
.bold-move {
  line-height: 140%;
  font-weight: bold;
  font-size: 14pt;
  font-family: "Amiri", serif;
  font-family: "Cardo", serif;
}
.line {
  background-color: #34495e;
}
.head-line {
  background-color: #34495e;
  margin-bottom: 25%;
  width: 50%;
}
.sub-title {
  border-top: 5px solid #34495e;
  color: #34495e;
}
span {
  color: #353a3f;
}
.btn {
  font-size: 12pt;
  font-family: "Amiri", serif;
}
.word {
  line-height: 150%;
  font-size: 14pt;
  font-family: "Amiri", serif;
}
li {
  line-height: 150%;
  font-size: 14pt;
  font-family: "Amiri", serif;
}
.tools {
  font-size: 16pt;
  font-family: "Amiri", serif;
}
form {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 15%;
}
#portfolio-head {
  font-family: "Amiri", serif;
  color: #eee;
}
.card {
  margin-top: 9%;
  margin-left: 15%;
  margin-bottom: 15%;
}
.contact-txt,
label {
  font-size: 14pt;
  font-family: "Amiri", serif;
}
.alert {
  font-size: 12pt;
  font-family: "Amiri", serif;
  text-align: center;
  padding: 10px;
  background: #ecf0f1;
  color: #b2bec3;
  margin-bottom: 10px;
  display: none;
}
/* Animated effects */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.media-image:hover {
  opacity: 0.65;
  cursor: pointer;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
