body {
  margin-top: 140px;
  background-color: #5d9eaf;
}
#showcase .showcase-right {
  margin-top: 80px;
}
#showcase .showcase-left {
  margin-top: 80px;
}
/* specialized position */
#showcase .showcase-right-1 {
  margin-top: 105px;
}
.showcase-right-2 {
  margin-top: 100px;
}
/*  */
footer {
  padding: 35px;
  background-color: #353a3f;
  color: #fff;
}
.row {
  margin-top: 50px;
  margin-bottom: 240px;
}
.responsive {
  max-width: 100%;
  height: auto;
  border: 8px solid #353a3f;
}
.responsive-contact{
  max-width: 100%;
  height: auto;
}
.main-title {
  color: #353a3f;
  text-align: center;
  font-size: 35pt;
  font-family: "Staatliches", cursive;
}
.main-header {
  text-align: center;
  font-size: 55pt;
  font-family: "Staatliches", cursive;
}
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
#date-header{
  color: #353a3f;
  font-size: 18pt;
  font-weight: bold;
}
.navbar-brand {
  font-family: "Staatliches", cursive;
  font-size: 33pt;
}
.display-4 {
  font-family: "Staatliches", cursive;
  font-size: 50pt;
}
.jumbotron {
  margin-top: 270px;
  margin-bottom: 300px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 3px 5px #353a3f;
}
.links {
  margin-top: 15px;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
.lead,
h6 {
  color: #353a3f;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
.bold-move {
  font-weight: bold;
  color: #353a3f;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
span {
  color: #fff;
}
.btn {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
}
.word {
  font-weight: bold;
  font-size: 14pt;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
li {
  font-size: 14pt;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.tools {
  font-size: 22pt;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
form {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 260px;
}
.card {
  margin-left: 10%;
  margin-bottom: 15%;
}
.contact-txt,
label {
  font-weight: bold;
  font-size: 12pt;
  color: #353a3f;
  font-family: "Roboto", sans-serif;
}
.alert {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
  background: #fff;
  color: #353a3f;
  margin-bottom: 10px;
  display: none;
}
/* Animated effects */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.media-image:hover {
  opacity: 0.65;
  cursor: pointer;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
